services:
    express-api-edu-backend:
        image: node:lts
        working_dir: /app
        entrypoint: ["/bin/bash", "/app/bash/node-entrypoint.sh"]
        ports:
            - "3000:3000"
        volumes:
            - ./:/app
        networks:
            - app-network
        environment:
            - PROD_PREVIEW=${PROD_PREVIEW}
        depends_on:
            express-api-edu-mongodb:
                condition: service_healthy

    express-api-edu-mongodb:
        image: mongo:latest
        ports:
            - "27017:27017"
        volumes:
            - mongo-volume:/data/db
            - ./logs:/logs
        networks:
            - app-network
        environment:
            - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
            - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
        command: --quiet --logappend --logpath "/logs/mongo.log"
        healthcheck:
            test: mongosh --quiet --eval "db.runCommand('ping').ok"
            interval: 5s
            timeout: 5s
            retries: 5
            start_period: 5s

volumes:
    mongo-volume:

networks:
    app-network:
